:root {
--primary-color: #FF7B47;
--secondary-color-1: #0D5C63;
--secondary-color-2: #17213C;
--background-gradient-1: linear-gradient(to left,#D71489, #004788);
--text-color: #252B42;
--second-text-color: #737373;
--light-text-color: #FFFFFF;
--dark-background-color: #252B42;
--light-background-color: #FFFFFF;
--hover-color: #2A7CC7;
--disabled-element-color: #8EC2F2;
--muted-color: #BDBDBD;
--success-color: #2DC071;
--alert-color: #E77C40;
--danger-color: #E74040;
}

/* *,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: inherit;
  font-size: inherit;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  color: black;
  font-family: Montserrat;
}

a {
  text-decoration: none;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

._container {
  max-width: 1046px;
  margin: 0 auto;
} */